/build/android-profile/profile-2019-12-01-14-02-46-419.rawproto
/build/android-profile/profile-2019-12-01-14-02-46-419.json
/build/android-profile/profile-2019-12-01-14-01-50-954.rawproto
/build/android-profile/profile-2019-12-01-14-01-50-954.json
/build/android-profile/profile-2019-12-01-14-01-50-011.rawproto
/build/android-profile/profile-2019-12-01-14-01-50-011.json
/backend/build/tmp/jar
/backend/build/libs/backend.jar
.gradle/*
.idea/workspace.xml
